Multiple Linear Regression

Given a real estate dataset. 

File: 'real_estate_price_size_year.csv'. 

To create a multiple linear regression. 

Using the dependent variable is 'price', while the independent variables are 'size' and 'year'.

# Importing the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
sns.set()

# Loading the data

In [2]:
edata = pd.read_csv("real_estate_price_size_year.csv")
edata

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
5   245050.280   575.19  2006
6   265129.064   570.89  2015
7   175716.480   620.82  2006
8   331101.344   682.26  2018
9   218630.608   694.52  2009
10  279555.096  1060.36  2009
11  494778.992  1842.51  2009
12  215472.104   694.52  2015
13  418753.008  1009.25  2018
14  444192.008  1300.96  2006
15  440201.616  1379.72  2006
16  248337.600   690.54  2018
17  234178.160   623.94  2006
18  225451.984   681.07  2006
19  299416.976  1027.76  2018
20  268125.080   620.71  2015
21  171795.240   549.69  2015
22  412569.472  1207.45  2015
23  183459.488   518.38  2015
24  168047.264   525.81  2009
25  362519.720  1103.30  2018
26  271793.312   570.89  2018
27  406852.304  1334.10  2015
28  297760.440   681.07  2015
29  368988.432  1496.36  2015
..         ...      ...   ...
70  276875.632  1021.95  2009
71  181587.576   643.41  2006
72  298926.496   656.22  2015
73  211724.096   549.80  2015
74  228313.024   685.48  2018
75  286161.600   685.48  2018
76  382120.152  1183.46  2018
77  365863.936  1334.10  2006
78  251560.040   682.26  2009
79  342988.456  1188.62  2006
80  180307.216   681.07  2006
81  408637.816  1122.34  2015
82  190909.056   681.07  2006
83  282683.544   643.09  2018
84  303597.216   685.48  2018
85  376253.808  1009.25  2018
86  154282.128   479.75  2006
87  327252.112  1028.41  2009
88  211904.536   601.66  2018
89  354512.112  1236.93  2018
90  251140.656   694.52  2018
91  338078.168  1071.55  2015
92  298170.880   694.52  2015
93  266684.248   698.29  2018
94  262477.856   698.29  2006
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

In [3]:
edata.describe()

               price         size         year
count     100.000000   100.000000   100.000000
mean   292289.470160   853.024200  2012.600000
std     77051.727525   297.941951     4.729021
min    154282.128000   479.750000  2006.000000
25%    234280.148000   643.330000  2009.000000
50%    280590.716000   696.405000  2015.000000
75%    335723.696000  1029.322500  2018.000000
max    500681.128000  1842.510000  2018.000000

In [4]:
edata.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

# Creating the regression

# Declaring the dependent and the independent variables

In [5]:
y = edata["price"]
x1 = edata[["size","year"]]

### Regression

In [6]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

C:\Users\hp\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.776
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     168.5
Date:                Mon, 31 Aug 2020   Prob (F-statistic):           2.77e-32
Time:                        16:51:41   Log-Likelihood:                -1191.7
No. Observations:                 100   AIC:                             2389.
Df Residuals:                      97   BIC:                             2397.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -5.772e+06   1.58e+06     -3.647      0.000   -8.91e+06   -2.63e+06
size         227.7009     12.474     18.254      0.000     202.943     252.458
year        2916.7853    785.896      3.711      0.000    1357.000    4476.571
==============================================================================
Omnibus:                       10.083   Durbin-Watson:                   2.250
Prob(Omnibus):                  0.006   Jarque-Bera (JB):                3.678
Skew:                           0.095   Prob(JB):                        0.159
Kurtosis:                       2.080   Cond. No.                     9.41e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.41e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""